doctype html
html
    head.HEAD
        // 
            Comments for your HTML readers.
            Use as much text as you want.
            Hello world.
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        a(style={color: 'red', background: 'blue'}) BOM DIA
        input(type='checkbox', checked)
        title=title
    body
        // hey
            Pessoa
            Desconhecida
        header#id.classe.classe2
            h1 Welcome to My Pug Example {1,2,3}
        main.main.outra.aaa
            section.sec
                .section
                    p Div
                h2 #[b About] me #{aboutMe}
                p This is a simple example of a Pug [1,2,3] template with nested elements and 4 spaces for indentation.
            .div
                .divdentro.classedentro
                    .divdentrooo
            section
                h2 Contact
                ul
                    li.classeli Email: example@example.com
                    li Phone: +1 123 456 7890
                    li #[a(href="") Clique]
                p
                    | Texto #[b socorro] #[em=em] aaaa (oi)
        footer
            p Copyright © 2023 - All Rights Reserved