doctype html
html
  head
    title My Pug Page
  body
    h1 Welcome to Pug!
    p This is a paragraph.
    p#my-paragraph This paragraph has an ID.
    p.class1.class2 This paragraph has multiple classes.